.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 12.5rem;
    font-size: 3.3rem;
    font-weight: bold;
    background-color: var(--gray-700);
    color: var(--Blue);
}
.header strong {
    font-weight: 900;
}

.header img {
    height: 3rem;
    width: 1.8rem;
}

.header span {
    color: var(--Purple-Dark);
}