

.contentNewTask {
    position: relative;
    margin-top: -1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.contentNewTask input {
    width: 30.6rem;
    height: 3rem;
    border-radius: 8px;
    padding-left: 1.5rem;
    font-size: 14px;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
}


.contentNewTask button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    width: 7rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--Blue-Dark);
    color: var(--gray-100);
}


.contentNewTask button:hover {
    border: 2px solid var(--gray-100);
}