 .list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.8rem;
    border: 3px solid var(--gray-400);
    border-radius: 8px;
    height: 6rem;
    background-color: var(--gray-500);
    color: var(--gray-100);
}

.list div {
    align-items: center;
    justify-content: center;
    display: flex;
}

.list input[type="checkbox"] {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--Blue);
    border-radius: 50%;
    outline: none;
}

 input[type="checkbox"]:checked {
    background-color: var(--Purple-Dark); 
}

input[type="checkbox"]:checked::after {
    content: '✓';
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

 .list button {
    background-color: transparent;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
}

 .list button:hover {
    transition: 0.5s;
    color: var(--Blue);
}


.checked {
    text-decoration: line-through; 
    color: var(--gray-300);
  }
