
.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    margin-top: 5.3rem;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 38rem;
    gap: 2rem;
}

.mainContent .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;
}

.mainContent .info p {
    color: var( --Blue);
}

.mainContent .info p span {
    color: var(--gray-200);
    background-color: var(--gray-400);
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: bold;
}

.mainContent .info .roxo {
    color: var(--Purple)
}

.mainContent .listContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    flex-direction: column;
}

